
<template id="">
  <div class="col-sm-3 bg-dark m-1 d-flex justify-content-center align-items-center p-3" style="position:relative;" id="">
    <div class="borderrectangle" style=" left: 10px; top: 10px;"></div>
    <div class="borderrectangle" style="position: absolute; right: 10px; top: 10px;"></div>
    <div class="borderrectangle" style="position: absolute; left: 10px; bottom: 10px;"></div>
    <div class="borderrectangle" style="position: absolute; right: 10px; bottom: 10px;"></div>
    <div class="innerborder" style="height: 100%; width: 100%; border: 2px solid white; overflow: hidden;" id="innerBorder">
      <img src="" alt="" class="" style="height: 120%; width: 120%; object-fit: cover; " id="innerPicture">
    </div>
  </div>
</template>
